
<% @jobs.each do |j| %>
  <h1><%= link_to j.title, job_path(j) %></h1>
  <% if j.featured %>
    <strong>Destaque</strong>
  <% end %>
  <%= j.category.name %><br>
  <%= j.location %>
<% end %>

<% @companies.each do |c| %>
  <%= link_to(c.name, c) %>
<% end %>

