<h1><%= @category.name %></h1>

<%# if flash[:msg] %>
  <%# flash[:msg] %>
<%# end %>

<% unless @category.jobs.any? %>
  Nenhuma vaga disponível
  <% else %>
    <% @category.jobs.each do |j| %>
      <%= j.title %>
      <%= j.location %>
      <%= j.company.name %>
    <% end %>
<% end %>
